/* ANIMATION */

@keyframes next{
    from{
        left:100%;
    }
    to{
        left:0;
    }
}

@keyframes back{
    from{
        left:0;
    }
    to{
        left:-100%
    }
}

.next{
    animation-name: next;
    animation-duration: 2s;
}

.back{
    animation-name: back;
    animation-duration: 2s;
}

/* FONTS */

@font-face{
    font-family: "poppins";
    src: url("/media/font/Poppins-Regular.ttf")
}

@font-face{
    font-family: "sourcecodepro";
    src: url("/media/font/SourceCodePro-Regular.ttf")
}

html {
    font-family: "opensans";
    font-size: 62.5%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
} 

body {
    background-color: #151515;
    margin: 0;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:currentColor;
}

header, main{
    max-width: 1440px;
    margin: 0 auto;
}

header{
    background-color: #151515;
    /* position: relative;
    z-index: 2; */
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.menu-logo-hm{
    position: absolute;
    margin: 1rem;
    cursor: pointer;
    left: 0;
}

.b{
    width: 3.5rem;
    height: 0.8rem;
    background-color: white;
    margin: 0.5rem;
    transition: 0.2s;
}

.cb .b1 {
    transform: translate(0, 14px) rotate(-45deg);
}
  
.cb .b2 {opacity: 0;}
  
.cb .b3 {
    transform: translate(0, -11px) rotate(45deg);
}



/**/

.logo{
    max-width: 1440px;
}

.logo-l{
    width: 6rem;
    height: 6rem;
    margin-top: 0.25rem;
}

/**/

.menu{
    width: 100%;
    z-index: 1;
    list-style: none;
    position: absolute;
    overflow: hidden;
    height: 0px;
    font-family: "Poppins";
}

.open{
    animation-name: menu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.close{
    animation-name: menu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

@keyframes menu{
    from{
        height: 0px;
    }
    to{
        height: 218px;
    }
}

.menu-btn{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    padding: 1rem 0 ;
    color: white;
    background-color: black;
    /* display: none;  */
}

/* .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  } */



/*  Main */

.landingpace{
    background-image: url("/media/img/main.jpg");
    background-size: 200% 100%;
    background-position: 50% 50%;
    
}

.section{
    padding: min(30vh, 30vw) 0;
}

.lp-msg{
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background-color: #1E1E1E;
    padding: 2rem 0rem;
}

.lp-msg-box{
    border-left: #444444 4px solid;  
    margin-left: 1rem;
    width: 100%;
    padding: 3rem 0rem 3rem 1rem;
    overflow: hidden;
}

.bng{
    transform: translate(-100%);
    animation-name: wlcm;
    animation-duration: 0.8s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
}

.wn{
    transform: translate(-100%);
    animation-name: wlcm;
    animation-duration: 0.8s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes wlcm{
    from{
        transform: translate(-100%);
    }
    to{
        transform: translate(0%);
    }
}

.lp-hw{
    font-family: "sourcecodepro";
    color: #26FFFF;
    font-size: 1.5rem;
}

.lp-mn{
    font-family: "poppins";
    letter-spacing: -3px;
    font-size: 3.3rem;
}

.lp-name{
    color: #FF7F00;
    font-size: 4rem;
}

.lp-wmd{
    font-family: "poppins";
    font-size: 1.8rem;
    letter-spacing: -1px;
    color: #b1b1b1;
}
    /**/
    /*WEB*/
.lp-w{
    font-family: "sourcecodepro";
    font-style: italic;
    color: #007FFF;
}
    /*Mobile*/

.lp-m{
    font-family: "sourcecodepro";
    font-style: italic;
    color: #3FFF00;
}

.lp-developer{
    font-size: 2rem;
    color: #FF3F00;
    font-style: italic;
}

/* SKILL */

.skills{
    background-color: #151515;
    color: white;
    text-align: center;
    padding-bottom: 2rem;
    padding: min(10vh, 10vw) 0;
    overflow: hidden;
    width: 100%;
}

.skill-a{
    width: 100vw;

}

.sk-title{
    font-family: "sourcecodepro";
    font-size: 3em;
    padding: 4rem 0;
}

.sk-circle{
    border-radius: 100%;
    color: #151515;
    background-color: white;
    font-size: 7rem;
    font-weight: bold;
    width: 50vw;
    max-width: 150px;
    height: 50vw;
    max-height: 150px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.sk-c-svg{
    width: 8.5rem;
}

.sk-desc{
    font-size: large;
    max-height: 150px;
    margin: 3rem;
}

.sk-desc-back{
    
}

.sk-desc-front{
    font-family: "sourcecodepro";
    text-align: justify;
    font-size: 2.5rem;
}

.la{
    color:#FF3F00;
}

.lb{
    color: #ffc251;
}

.lc{
    color:#f0ff64;
}

.ld{
    color: #418a28;
}

.le{
    color: #86ffff;
}

.lf{
    color:#007FFF;   
}

.lg{
    color:#3e9fff;
}


/* EXPERENCIE */

.experience{
    background-color: #1E1E1E;
    color: white;
    padding: 2rem;
    text-align: center;
    font-family: "poppins";
}

.ex-sd:nth-of-type(2){
    display: none;
}


.ex-title{
    font-family: "sourcecodepro";
    font-size: 3rem;
    border-bottom:  1px solid white;
    padding-bottom: 1rem;
    margin: 1rem 4rem;
}


.ex-sd-img{
    background-color: white;
    margin: 4rem 0;
    padding: 3rem 3rem;
    width: 100%;
}

.show{
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes show {
    0%{
        transform: scale(0);
    }
    70%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.ex-star{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    height: 0;
    bottom: 80px;
}

.ex-star-ico svg{
    width: 60px;
    height: 60px;
}

.ex-star-ico span{
    right: 19px;
    top:24px;
    position: absolute;
    color: black;
}

.ex-star-ico span svg{
    width: 20px;
    height: 20px;
}


.ex-sd-site{
    margin: 1rem;   
}

.ex-sd-wt{
    font-size: 2.5rem;
    font-weight: bold;
}

.ex-sd-wd{
    font-size: 2rem;
    font-family: "sourcecodepro";
}

.ex-sd-exp{
    margin: 2.5rem 1rem;
}

.ex-sd-exp-t{
    font-size: 2rem;
}

.ex-sd-exp-d{
    font-family: "sourcecodepro";
    font-size: 2rem;
}

/* ABOUT */

.about{
    font-family: "sourcecodepro";
    background-color: #151515;
    color: white;
    text-align: center;
    padding: min(5vh, 5vw) 0;
}

.am-me{
    font-family: "poppins";
}

.am-title{
    font-size: 3rem;
    border-bottom:  1px solid white;
    padding-bottom: 1rem;
    margin: 1rem 4rem;
}

.am-me-img{
    border-radius: 100%;
    margin:3rem;
    width: min(70vw, 250px);
    max-width: 320px;
}

.am-me-des-title{
    font-size: 3.3rem;
    margin: 2rem 0;
}



.am-me-des-title-name{
    color: #FF7F00;
    font-family: "sourcecodepro";
    letter-spacing: -4px;
    font-size: 4.5rem;
}

.am-me-des-about{
    /* overflow: hidden;
    width: 100%;
    height: 80px;
    display: inline-flex; */
}

.am-me-des-about-data{
    font-family: "sourcecodepro";
    width: 100%;
    font-size: 3rem;
    list-style: none;
}
/* 
.one{
    position: absolute;
    left: -100%;
}

.two{
    position: absolute;
    left: 0;
} */

/* CONTACT */

.contact{
    text-align: center;
    background-color: #1E1E1E;
    color: white;
    font-family: "poppins";
    padding: min(10vh, 10vw) 0;
}

.cm-title{
    font-family: "sourcecodepro";
    font-size: 3.5rem;
    border-bottom:  1px solid white;
    padding-bottom: 1rem;
    margin: 1rem 4rem;
}

.cm-des{
    font-family: "sourcecodepro";
    font-size: 2.5rem;
    margin: 3rem;
}

.cm-btn{
    user-select: none;
    font-family: "sourcecodepro";
    font-size: 2rem;
    color: #FFFF26;
    margin: 3rem;
    border: #FFFF26 2px solid;
    border-radius: 10px;
    padding: 2rem 1rem;
    
}

.parenthesis{
    color: #FFC926;
}

.cm-msg{
    color: #00FFFF;
}

.ico-ico{
    width: 20vw;
    height: 20vw;
    max-width: 32px;
    max-height: 32px;
    margin: 1rem;
}

/* END */

.footer{
    background-color: #0A0A0A;
    color: white;
    text-align: center;
    font-family: "poppins";
    padding: min(5vh, 5vw) 0;
}

.copyright{
    font-size: 1.5rem;
    margin: 2rem;
    font-family: "poppins";
}

.thanks{
    font-family: "sourcecodepro";
    margin: 3rem;
    font-size: 1rem;
}

@media screen and (min-width: 425px) {
    header{

    }

    .menu{
        display: inline-flex;
        flex-wrap: wrap;
    }

    .menu-btn{
        width: 50vw;
        font-size: 2.5rem;
    }

    @keyframes menu{
        from{
            height: 0px;
        }
        to{
            height: 99px;
        }
    }

    /*LP*/

    .landingpace{
        padding: min(15vh, 15vw) 0;
        
    }

    /* SKILLS */

    .skills{

    }

    .skill-a{

    }

    .sk-circle{

    }

}

@media screen and (min-width: 768px) {

    header{
        height: 65px;
        margin: auto;
    }

    @keyframes menu{
        from{
            height: auto;
        }
        to{
            height: auto;
        }
    }

    .menu-logo-hm{
    display: none;
    }

    .logo{
        position: absolute;
        z-index: 2;
        width: min(210px,12vw);
        max-width: 210px;
        text-align: center;
        background-color: #0A0A0A;
    }

    .menu{
        max-width: min(100vw,1440px);
        background-color: #0A0A0A;
        display: inline-flex;
        position: absolute;
        z-index: 1;
        height: max-content;
    }

    .menu-btn{
        width: min(22vw,307.5px);
        font-size: 2rem;
        z-index: 2;
        padding: 2.1rem 0;
        /* margin: 0 auto; */
    }

    .menu-btn:nth-last-child(2) {
        margin-left: auto;
    }


    .landingpace{
        display: flex;
        flex-direction: row-reverse;
        background-size: cover;
        padding: 0;
        height: min(100vw, 52.9vw);
        max-width: 1440px;
        max-height: 572.1px;
    }

    .lp-msg{
        padding: 0;
        position: relative;
        width: 50%;
        max-height: 762.8px;
    }

    .lp-msg-box{
        
    }
    
    .lp-hw{
        font-size: 2rem;
    }

    .lp-mn{
        font-size: 3.3rem;
    }

    .lp-name{
        font-size: 5rem;
    }

    .lp-wmd{
        font-size:1.8rem;
    }

       /**/
    /*WEB*/
    .lp-w,.lp-m{
        font-size:3rem;
    }

    .lp-developer{
        font-size: 2.5rem;
    }

    /* SKILLS */

    .skills{
        padding: min(5vh, 5vw) 0;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill-a{
        width: 30%;
        max-width: 400px;
        font-size: 0.8rem;
    }

    .sk-circle{
        
    }

    .sk-desc-front{
        font-size: 2rem;
        text-align: unset;
    }

    /* EXPERIENCE */
    
    .experience{
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-evenly
    }

    .ex-sd:nth-of-type(2){
        display: flex;
    }
    

    .ex-title{
        width: 100%;
        margin: 1rem 10rem;
    }

    .ex-sd{
        width: min(40vw,576px);
        max-width: 576px;
    }

    .ex-sd-you{
        font-size: 3rem;
        height:min(17vw,235px);
        max-height: 235px;
        background-color: white;
        color:#151515;
        margin: 4rem 0;
        padding: 4rem 0rem;
        display: inline-flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    /* ABOUT */
    
    .about{
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .am-title{
        width: 100%;
        margin: 1rem 10rem;
    }

    .am-me-des{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .am-me-img{
        width: 20%;
        margin: 5rem;
    }

    .am-des-me{
        width: 50%;
    }

    .am-me-des-title{
        font-size: 4.5rem;
    }

    .am-me-des-title-name{
        font-size: 5.5rem;
    }

    .am-me-des-about-data{
        margin-top: 15%;
    }

    /* CONTACT */

    .contact{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .cm-title{
        width: 100%;
        margin: 1rem 10rem;
    }

    .cm-des{
        margin: 4rem;
    }

    .cm-btn{
        margin:1rem 0 4rem 0;
        padding: 2rem 4rem;
    }

    .cm-red{
        width: 100%;
    }

    .ico-ico{
        max-width: 64px;
        max-height: 64px;
        margin: 1rem 2rem;
    }

    /* FOOTER */

    .copyright{
        font-size: 2.5rem;
    }

    .thanks{
        font-size: 2rem;
    }

}

@media screen and (min-width: 1024px) {

    /* LANDING */

    .lp-hw{
        font-size: 3.5rem;
    }

    .lp-mn{
        font-size: 5rem;
    }

    .lp-name{
        font-size: 6.5rem;
    }

    .lp-wmd{
        font-size: 3rem;
    }

    .lp-w{
        font-size: 4rem;
    }

    .lp-m{
        font-size: 4rem;
    }

    .lp-developer{
        font-size: 3.5rem;
    }

    /* SKILLS */

    .skill-a p.sk-title{
        font-size: 3rem;
    }

    .sk-desc-front{
        font-size: 2.5rem;
    }

    /* EXPERIENCE */

    .ex-title{
        font-size: 4rem;
    }

    .ex-sd-wt{
        font-size: 3.8rem;
    }

    .ex-sd-wd{
        font-size: 2.5rem;
    }

    .ex-sd-exp-t{
        font-size: 3rem;
    }

    .ex-sd-exp-d{
        font-size: 3rem;
    }

    /* ABOUT ME */

    .am-title{
        font-size: 4rem;
    }

    .am-me-img {
        width: 30%;
        margin: 5rem;
    }

    .am-des-me{
      margin-top: 3rem;
    }

    .am-me-des-title{
        font-size: 5rem;
    }

    .am-me-des-title-name{
        font-size: 6.5rem;
    }

    .am-me-des-about-data{
        font-size: 4rem;
    }

    /* CONTACT */

    .cm-title{
        font-size: 4rem;
    }

    .cm-des{
        font-size: 3.5rem;
    }

    .cm-btn-s{
        font-size: 3rem;
    }

}
/* 
@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 2560px) {

} */
